Repository robotlearning123/nano-opencode: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add Claude Code GitHub Action workflow
  .github/workflows/claude.yml
Due: prettier --write

Add Z.AI GLM API performance report
  docs/ZAI_PERFORMANCE_REPORT.md
  implementations/PERFORMANCE_REPORT.md
  implementations/swe_bench_test.py
Due: none

feat: comprehensive SWE-bench testing across 9 agents
  implementations/PERFORMANCE_REPORT.md
  implementations/swe_bench_test.py
Due: none

feat: add SWE-bench test suite with 100% pass rate
  implementations/PERFORMANCE_REPORT.md
  implementations/swe_bench_test.py
Due: none

feat: comprehensive SWE-bench benchmark results (23 instances, 3 agents)
  implementations/AGENT_COMPARISON_REPORT.md
  implementations/ALL_RESULTS.md
  implementations/COMPREHENSIVE_REPORT.md
  implementations/FINAL_BENCHMARK_REPORT.md
  implementations/SWEBENCH_RESULTS.md
  implementations/benchmark_all_languages.py
  implementations/benchmark_data.json
  implementations/swe_agent_compare.py
  implementations/swebench_runner.py
Due: prettier --write

Add comprehensive SWE-bench benchmark results
  implementations/AGENT_COMPARISON_REPORT.md
  implementations/ALL_RESULTS.md
  implementations/COMPREHENSIVE_REPORT.md
  implementations/FINAL_BENCHMARK_REPORT.md
  implementations/SWEBENCH_RESULTS.md
  implementations/benchmark_all_languages.py
  implementations/benchmark_data.json
  implementations/swe_agent_compare.py
  implementations/swebench_runner.py
Due: prettier --write

Add TUI streaming, markdown rendering, and /clear command
  src/tui.ts
  src/ui/tui.ts
Due: eslint --fix, prettier --write

Add TUI streaming, markdown, context compaction
  src/auth.ts
  src/auth/providers.ts
  src/cli.ts
  src/commands.ts
  src/hooks/builtin.ts
  src/lsp/client.ts
  src/mcp/registry.ts
  src/plugin/loader.ts
  src/plugin/types.ts
  src/providers/openai.ts
  src/rpc/client.ts
  src/skills/parser.ts
  src/tools/diff.ts
  src/tools/helpers.ts
  src/tools/patch.ts
  src/tools/undo.ts
  src/tui.ts
  src/ui/tui.ts
  test/memory.test.ts
  test/store.test.ts
  test/utils.test.ts
Due: eslint --fix, prettier --write

Add TUI streaming, markdown rendering, and /clear command (#11)
  src/auth.ts
  src/auth/providers.ts
  src/cli.ts
  src/commands.ts
  src/hooks/builtin.ts
  src/lsp/client.ts
  src/mcp/registry.ts
  src/plugin/loader.ts
  src/plugin/types.ts
  src/providers/openai.ts
  src/rpc/client.ts
  src/skills/parser.ts
  src/tools/diff.ts
  src/tools/helpers.ts
  src/tools/patch.ts
  src/tools/undo.ts
  src/tui.ts
  src/ui/tui.ts
  test/memory.test.ts
  test/store.test.ts
  test/utils.test.ts
Due: eslint --fix, prettier --write

ci: add security audit job
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve all ESLint warnings
  src/cli.ts
Due: eslint --fix, prettier --write

Add parallel tool execution and todo enforcement
  src/cli.ts
  src/tools/index.ts
Due: eslint --fix, prettier --write

docs: add implementation plan for closing gaps with top agents
  IMPLEMENTATION_PLAN.md
Due: none

feat: add Plan Mode and Web Search
  src/cli.ts
  src/commands.ts
  src/tools/index.ts
  src/tools/websearch.ts
Due: eslint --fix, prettier --write

feat: add Plan Mode and Web Search (#14)
  src/cli.ts
  src/commands.ts
  src/tools/index.ts
  src/tools/websearch.ts
Due: eslint --fix, prettier --write

ci: enhance ci workflow and add devops tooling
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  commitlint.config.js
Due: prettier --write

feat: add image tool for visual analysis
  IMPLEMENTATION_PLAN.md
  src/tools/image.ts
  src/tools/index.ts
Due: eslint --fix, prettier --write

feat: add image tool for visual analysis (#16)
  IMPLEMENTATION_PLAN.md
  src/tools/image.ts
  src/tools/index.ts
Due: eslint --fix, prettier --write

feat: add git tools for streamlined version control
  src/tools/git.ts
  src/tools/index.ts
Due: eslint --fix, prettier --write

docs: update implementation plan - Git Auto-commit done
  IMPLEMENTATION_PLAN.md
Due: none

feat: add git tools for streamlined version control (#17)
  IMPLEMENTATION_PLAN.md
  src/tools/git.ts
  src/tools/index.ts
Due: eslint --fix, prettier --write

docs: sync commit types with commitlint config
  CONTRIBUTING.md
Due: none

deps: add commitlint packages
  package-lock.json
  package.json
Due: prettier --write

fix: prevent git option injection in git tools
  src/tools/git.ts
Due: eslint --fix, prettier --write

fix: prevent git option injection in git tools (#18)
  src/tools/git.ts
Due: eslint --fix, prettier --write

ci: enhance ci workflow and add devops tooling (#15)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  CONTRIBUTING.md
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

fix: add path traversal protection to git tools
  src/tools/git.ts
Due: eslint --fix, prettier --write

fix: add path traversal protection to git tools (#30)
  src/tools/git.ts
Due: eslint --fix, prettier --write

feat: add Ollama, Enhanced Sandbox, and Sub-agents
  IMPLEMENTATION_PLAN.md
  src/agents/subagent.ts
  src/constants.ts
  src/providers/index.ts
  src/providers/ollama.ts
  src/sandbox/index.ts
  src/tools/index.ts
  src/tools/sandbox.ts
  src/tools/spawn.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix: resolve circular dependency and add Firejail memory limits
  src/sandbox/index.ts
  src/tools/spawn.ts
Due: eslint --fix, prettier --write

test: add extended tool tests for bash, todo, undo, diff, and git
  test/tools-extended.test.ts
Due: eslint --fix, prettier --write

fix: resolve 6 high-severity bugs
  src/background.ts
  src/hooks/executor.ts
  src/rpc/client.ts
  src/rpc/types.ts
  src/skills/parser.ts
Due: eslint --fix, prettier --write

fix: resolve 6 high-severity bugs (#33)
  src/background.ts
  src/hooks/executor.ts
  src/rpc/client.ts
  src/rpc/types.ts
  src/skills/parser.ts
  test/tools-extended.test.ts
Due: eslint --fix, prettier --write

chore: clean up unrelated files from repo
  .gitignore
  pnpm-lock.yaml
  readiness.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  prettier --write: ((any of: src/**/*.ts) or (any of: test/**/*.ts)) or (any of: *.{json,yml,yaml})
